---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
export const getStaticPaths = async () => {
  const projects = await getCollection("projects");
  const paths = projects.map((project) => {
    return {
      params: {
        slug: project.data.title,
      },
      props: {
        project,
      },
    };
  });
  return paths;
};
console.log(Astro.params.slug);
type Props = {
  project: CollectionEntry<"projects">;
};
const { project } = Astro.props;
const { Content } = await render(project);
const { title, coverImg, description, source, link } = project.data;
---

<Layout>
  <div class="main-content">
    <div class="post-content">
      <div class="post-header">
        <h1 class="display-5">{title}</h1>
        <a href="/">Back to home <i class="bi bi-arrow-90deg-left"></i></a>
      </div>
      <Picture src={coverImg} class="card-img-top" alt="Yu Parkin" transition:name=`${title}`/>
      <a href={source} class="btn btn-primary">Source Code</a>
      <a href={link} class="btn btn-primary">Link to Project</a>
      <p class="lead">Project Description: {description}</p>
      <Content />
    </div>
  </div>
</Layout>

<style>
  .post-content {
    margin: 0 auto 0;
    width: 75%;
  }
  .post-content * {
    margin: 1rem 0;
  }
  @media screen and (max-width: 768px) {
    .post-content {
      width: 100%;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
</style>
